<button class="burger" onclick="document.querySelector('.navigation').classList.toggle('active')">
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="navigation">

    <div>
        <img>
        <p>made by Kaiden-A</p>
    </div>
    <hr>
    <div>
        <p>navigation</p>
        <button onclick="location.assign('/admin')">
        <span class="icon home"></span>
        Admin Dashboard
        </button>

        <button onclick="location.assign('/admin/venues')">
        <span class="icon venue"></span>
        Create new Venue
        </button>

        <button onclick="location.assign('/admin/active/reservations')">
        <span class="icon active"></span>
        Active Sessions
        </button>

        <button onclick="location.assign('/admin/past/reservations')">
        <span class="icon past"></span>
        Past Sessions
        </button>

        <button onclick="location.assign('/admin/venues/inventories')">
        <span class="icon inventory"></span>
        Venue Inventory
        </button>

    </div> 

    <p>Copyright &copy; by Kaiden-A</p>

</div>
