<button class="burger" onclick="document.querySelector('.navigation').classList.toggle('active')">
    <span></span>
    <span></span>
    <span></span>
</button>
<div class="navigation">

    <div>
        <img>
        <p>made by Kaiden-A</p>
    </div>
    <hr>
    <div>
        <p>navigation</p>
        <button onclick="location.assign('/admin')">
            <img src="/images/home.png" alt="home-image">
            Admin Dashboard
        </button>

        <button onclick="location.assign('/admin/venues')">
            <img src="/images/schedule.png" alt="create-new-venue">
            Create new Venue
        </button>

        <button onclick="location.assign('/admin/active/reservations')">
            <img src="/images/active.png" alt="active session">
            Active Sessions
        </button>

        <button onclick="location.assign('/admin/past/reservations')">
            <img src="/images/past.png" alt="past session">
            Past Sessions
        </button>

        <button onclick="location.assign('/admin/venues/inventories')">
            <img src="/images/past.png" alt="venue-invetory">
            Venue Inventory
        </button>
        
    </div> 

    <p>Copyright &copy; by Kaiden-A</p>

</div>
