<div class="navigation">

  <div>
    <span class="logo"></span>
    <p>made by Kaiden-A</p>
  </div>
  <hr>

  <div>
    <p>navigation</p>

    <button onclick="location.assign('/')">
      <span class="icon home"></span>
      <%= user.username %> Dashboard
    </button>

    <button onclick="location.assign('/reservations')">
      <span class="icon schedule"></span>
      Create new Schedule
    </button>

    <button onclick="location.assign('/check')">
      <span class="icon check-reserve"></span><span></span>
      Check Schedule
    </button>
  </div>

  <p>Copyright &copy; by Kaiden-A</p>
</div>

<button class="burger" onclick="document.querySelector('.navigation').classList.toggle('active')">
  <span></span>
  <span></span>
  <span></span>
</button>
