<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="icon" href="/images/mitsLogo.png">
    <link rel="stylesheet" href="/styles/sign.css">
</head>
<body>
        
  <div class="school-header">
      <img src="/images/mitsLogo.png" alt="School Logo">
      <div class="school-name">
          <p class="line1">Maahad Integrasi Tahfiz Selangor</p>
          <p class="line2">Alam Impian Klang</p>
      </div>
  </div>
  <div class="error-box">

  </div>
    <div>
        <form>
            <label for="email">Email</label>
            <input type="email" name="email">

            <label>Password</label>
            <input type="password" name="password">

            <hr>

            <button>LOGIN</button>
            <p> didn't have an account?<a href="/signUp">Sign Up</a></p>
        </form>
    </div>

    <footer>
        <p>Copyright &copy; 2025 by Kaiden-A</p>
    </footer>

    <script src="/scripts/signIn.js"></script>

</body>
</html>